/* Please keep this css code to improve the font quality */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    box-sizing: content-box;
    margin: 0;
}

html {
    min-width: 320px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.section {
    height: 750px;
    position: relative;
    align-content: center;
    justify-content: center;
    display: flex;
}

.content {
    height: 750px;
    max-width: 1080px;
    position: relative;
    display: flex;
    color: black;
}

.content[dark] {
    color: white;
}

.content h3 {
    font-size: 36;
}

.content p {
    margin-top: 20px;
    font-size: 18;
    font-weight: bold;
    line-height: 140%
}

.content[right] .text-box {
    margin: auto 75px auto 50px;
    text-align: right;
}

.content[left] .text-box {
    margin: auto 50px auto 75px;
    text-align: left;
}

.mockup {
    height: 100%;
    position: relative;
}

.mockup-desktop {
    width: 700px;
    height: 450px;
    margin: auto;
}

.download-button {
    margin: 20 auto 20 0;
    position: relative;
}

.download-button[title-box] {
    margin-bottom: 0;
}

.download-button img {
    height: 80px;
}

.footer-part {
    background-color: #1c1c1c;
}

#first-background-box {
    height: 80%;
    width: 100%;
    background: rgb(186, 31, 51);
    background: linear-gradient(135deg, rgb(186, 31, 51) 0%, rgba(246, 97, 52, 1) 100%);
    position: absolute;
}

#title-box {
    height: 80%;
    margin: 0 auto auto 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    .store-brand {
        border-radius: 13px;
        margin-top: 10px;
        height: 43.5px;
    }

    .store-brand[mac] {
        margin-top: 3px;
    }
}

#title-box * {
    max-width: 75%;
}

#title-box h1 {
    font-size: 75px;
}

#title-box h2 {
    font-size: 40px;
    line-height: 70%;
}

#title-box p {
    margin-top: 15px;
    font-size: 20px;
}

#last-background-box {
    background-color: #292929;
    height: 80%;
    width: 100%;
    position: absolute;
    top: 20%;
}

#footer-stripe {
    height: 20%;
    width: 100%;
    position: absolute;
    top: 80%;
}

#footer {
    height: 60px;
    display: flex;
    justify-content: center;
    color: white;
}

#footer * {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 100px;
}

#footer *:last-child {
    margin-right: 0;
}

#footer a {
    color: inherit;
    text-decoration: none;
    font-size: 14;
}

@media(max-width: 1065px) {

    .section {
        height: 600px;
    }

    .content {
        height: 600px;
    }

    .content h3 {
        font-size: 28;
    }

    .content p {
        margin-top: 20px;
        font-size: 14;
    }

    .content[right] .text-box {
        margin: auto 50px auto 25px;
    }

    .content[left] .text-box {
        margin: auto 25px auto 50px;
    }

    .mockup-desktop {
        width: 500px;
        height: 331.5px;
        margin: auto;
    }

    .download-button {
        height: 60px;
        width: 179.5px;
    }

    #title-box h1 {
        font-size: 60;
    }

    #title-box h2 {
        font-size: 28;
    }

    #title-box p {
        font-size: 14;
    }

    #footer a {
        font-size: 12;
    }

}

@media(max-width: 875px) {

    .section {
        height: 600px;
    }

    .content {
        height: 600px;
    }

    .content h3 {
        font-size: 28;
    }

    .content p {
        margin-top: 20px;
        font-size: 14;
    }

    .content[right] .text-box {
        margin: auto 50px auto 25px;
    }

    .content[left] .text-box {
        margin: auto 25px auto 50px;
    }

    .mockup-desktop {
        width: 400px;
        height: 257.2px;
        margin: auto;
    }

    .download-button {
        height: 60px;
        width: 179.5px;
    }

    #title-box h1 {
        font-size: 60;
    }

    #title-box h2 {
        font-size: 28;
    }

    #title-box p {
        font-size: 14;
    }

    #footer a {
        font-size: 12;
    }

}

@media(max-width: 600px) {

    .section {
        height: auto;
    }

    .content {
        height: auto;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }

    .content[right] {
        flex-direction: column-reverse;
    }

    .content[right] .text-box {
        margin: auto 30px auto 30px;
        text-align: center;
    }

    .content[left] .text-box {
        margin: auto 30px auto 30px;
        text-align: center;
    }

    .content img {
        display: block;
        height: auto;
    }

    .mockup {
        width: 400px;
        max-width: 80%;
        margin: auto;
    }

    .mockup-desktop {
        width: 400px;
        margin: auto;
    }

    .download-button {
        width: 200px;
        margin: 20 auto 0 auto;
    }

    .download-button img {
        margin: 0;
        width: 200px;
    }

    #title-box {
        height: auto;
        text-align: center;
        align-items: center;
        margin: 0 30px;
    }

    #title-box * {
        max-width: 100%;
    }

    #last-background-box {
        height: 100%;
        top: 0;
    }

    #footer {
        flex-direction: column;
    }

    #footer *,
    #footer *:last-child {
        margin: auto;
    }

}